/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
.notification:not(:last-child) {
  margin-bottom: 0;
}
// .image_top{
//   background-image: url(パラシュート.jpg);
//   height: 600px;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: contain;
  
// }

$breakpoints: (
  'md': 'screen and (max-width: 680px)',
  'ms': 'screen and (min-width: 800px)',
) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
@mixin mq($breakpoint: ms) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.profgram{
  color: white;
  font-size: 2.8rem;
  margin-left: 10px;
}
body{
  background: linear-gradient(to bottom right, rgb(81, 187, 248),rgb(227, 243, 253)); 
  height: 100%;
}
.headers{
  background-color: rgb(0, 0, 0);
  box-shadow:  rgb(0, 0, 0) 10px 3px 20px; 
  .titles{
    font-size: 2.5rem;
    font-weight: bold;
    @include mq(md) {  
      font-size: 1.7rem;
   }
  }
}
.header-title{
  margin-left: 20px;
  color: white;
  border: 1px black;
}
.humberger-lines{
  color: white;
}
.navbar-menu{
  overflow: scroll;
  
}
.navbar-burger span{
  width: 40px;
  height: 3px;
  @include mq(md) {  
    width: 20px;
    height: 1px;
  }
}
.navbar-burger span:nth-child(1) {
  top: 40%;
  @include mq(md) {  
    top: 43%;
  }
}
.navbar-burger span:nth-child(2){
  top: 60%;
  @include mq(md) {  
    top: 50%;
  }
}
.navbar-burger span:nth-child(3){
  top: 80%;
  @include mq(md) {  
    top: 57%;
  }
}
.navbars{
  height: 5px;
}
.navbar-burger{
  margin: 0 40px 0 auto;
  @include mq(md) {  
    margin: 0 10px 0 auto;
  }
}
.profile_image {
  border-radius: 50%;
}
.navber-item{
  overflow: scroll;
}
.main-image {
  height: 960px;
  width: 100%;
  background-image: url(b0b4ead9883ccd1b72a2023e3cf8d966.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  
}

.navbar-menu.show {
  display: inline-block;
  
}
.member{
  margin-left: 10px;
  margin-right: auto;
}

.navbar-item{
  display: inline-block;
}
.top-menu{
  width: 100%;
}
.login{
  margin-top: 90px;
}
.login_gamen{
  font-size: 80x;
}
.footers{
  margin-top: 100px;
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  // font-size: 100px;
  .copy_right{
      color: white;
      margin: 0 auto;
      font-size: 2rem;
      @include mq(md) {  
        font-size: 1rem;
      }
  }
}
// .log-out{
//   margin-left: auto;
// }