@charset "UTF-8";
.home_page {
  height: 100%;
}

.contents {
  position: relative;
  height: 50vw;
  max-height: 100vh;
  width: 100%;
}

.contents .fade_img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.contents .front_font {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contents .front_font .home_title_one {
  font-size: 40px;
  text-shadow: 2px 2px 2px;
  color: #ff0101;
  font-family: 'Caveat', cursive;
  z-index: 999;
}

.contents .front_font .home_title_one .man {
  color: black;
}

.contents .home_button {
  z-index: 999;
}

.button_login_one {
  padding-top: 20px;
}

.button_login_two {
  margin-top: 20px;
}

.intro {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto 0 auto;
}

.intro .h1_explanation {
  text-shadow: 3px 4px 3px #868383;
  position: relative;
  display: block;
  text-align: center;
  border-bottom: 1px black;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro .h1_explanation::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 80px;
  border-bottom: 1px solid black;
  left: 30%;
  -webkit-box-shadow: 3px 3px 3px #727171;
          box-shadow: 3px 3px 3px #727171;
}

.intro .intro_img {
  background-image: url(cat_img.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .intro .intro_img {
    height: 400px;
    width: 500px;
    -webkit-box-shadow: 7px 7px 2px #727171;
            box-shadow: 7px 7px 2px #727171;
    margin-top: 80px;
  }
}

.intro .intro_font {
  margin-top: 50px;
  display: block;
  text-align: center;
  word-wrap: inherit;
}

.intro_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .intro_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 200px 0 0 0;
  }
}

.intro_2 .intro_font_2 {
  margin-top: 50px;
  text-shadow: 3px 4px 3px #a3a3a3;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  word-wrap: inherit;
  position: relative;
  font-size: 38px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 768px) {
  .intro_2 .intro_font_2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.intro_2 .intro_font_2::after {
  content: "";
  display: block;
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 3px 3px 3px #727171;
          box-shadow: 3px 3px 3px #727171;
}

.intro_2 .intro_sentences_2 {
  margin-top: 50px;
  text-align: center;
  word-wrap: inherit;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 768px) {
  .intro_2 .intro_sentences_2 {
    display: none;
  }
}

.intro_2 .intro_img_2 {
  background-image: url(アイコン.jpg);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .intro_2 .intro_img_2 {
    background-size: 400px;
    width: 400px;
    height: 400px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.intro_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .intro_3 {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.intro_3 .intro_font_3 {
  text-shadow: 3px 4px 3px #a3a3a3;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  word-wrap: inherit;
  position: relative;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 768px) {
  .intro_3 .intro_font_3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.intro_3 .intro_font_3::after {
  content: "";
  display: block;
  position: absolute;
  left: 35%;
  bottom: -5px;
  width: 80px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 3px 3px 3px #727171;
          box-shadow: 3px 3px 3px #727171;
}

.intro_3 .intro_sentences_3 {
  margin-top: 50px;
  text-align: center;
  word-wrap: inherit;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 768px) {
  .intro_3 .intro_sentences_3 {
    display: none;
  }
}

.intro_3 .intro_img_3 {
  background-image: url(ウーパールーパーsecond.jpg);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: 420px;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .intro_3 .intro_img_3 {
    background-size: 530px;
    width: 400px;
    height: 400px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
}
/*# sourceMappingURL=home.css.map */