// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$breakpoint-md: 480px !default;

$breakpoints: (
  'md': 'screen and (max-width: 680px)',
) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

$font_simple :Cambria ,Cochin, Georgia, Times, 'Times New Roman', serif;
.title_one{
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 5rem;
    
}
.card .media:not(:last-child) {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 50px;
}
.card-font{
    color: red;
}
.media-left{
    margin-left: 1rem;
  }
.image{
    border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  
}
.wilderness_img{
    margin-top: 20px;
}
.navbar-item .button{
    font-size: 1rem;
    @include mq(md) {  
        font-size: 1rem;
        
     }
}
.recipes_times{
    font-size: 1rem;
    padding: 0 0 5px 10px;
}
.title{
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    margin-left: 10px;
    @include mq(md){
        display: none;
    }
}
// 阪神タイガース優勝するuser.scss
.my_title{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(65, 138, 247);
    @include mq(md) {  
        font-size: 1.5rem;
     }
  }
  
// Details
.intro_by_name{
    .comment{
        font-size: 1.2rem;
        overflow: scroll;
        height: 100px;
        width: 90%;
        margin: 10px auto 0 auto;
        @include mq(md) {  
            font-size: 1.2rem;
            margin-top: 10px;
         }
    }
    .by_name{
        font-size: 1.2rem;
        @include mq(md) {  
            font-size: 1.5rem;
         }
    }
}
.details_content{
    width: 100%;
    margin-top: 50px;
}
.media{
    background-color: #fff;
    padding: 10px 10px 0 0;
}
.update-day{
    padding: 5px;
}
.prof_title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    color: rgb(65, 138, 247);
}
.to_page{
    font-size: 1.2rem;
}
.news{
    font-size: 1.7rem;
    text-align: center;
    font-family: $font_simple;
    color: rgb(43, 190, 38);
}
.news_content{
    font-size: 1.5rem;
    text-align: center;
}
.edit-button{
    padding: 0 10px 10px 10px;
}

.font_s{
    font-size: 2rem;
}
.content_edit{
    width: 80%;
    margin: 0 auto;
    
}
.input, .textarea{
    // font-size: 2.2rem!important;
    overflow: scroll;
}
.textarea{
    max-height: 50rem!important;
    min-height: 15em!important;
    line-height: 2rem!important;
    font-size: 1.3rem!important;
    overflow: scroll;
}
// input[type="text"] {
//     width: 300px;
//     height: 140px;
// }